version: '3.5'

services:

    rust-logserver:

        # --- building ---
        image: rust-logserver:2025
        dns:
            - 8.8.8.8
            - 8.8.4.4
        build:
            context: ./
            dockerfile: ./Dockerfile
        environment:
            TZ: Asia/Shanghai

        # --- binding ---
        volumes:
            - ${project_dir}:${project_dir}
        network_mode: host

        # --- running ---
        container_name: rust-logserver
        cap_add:
            - SYS_ADMIN
        privileged: true
        working_dir: ${project_dir}

        # --- for debug ---
#        stdin_open: true
#        tty: true

        # --- for release ---
        command: bash run.sh
        restart: always

